<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd"
	default-autowire="byName" default-lazy-init="false">
	
	<!-- Mina 数据编码 -->
	<bean id="dpsProtocolCodecFactory" class="com.chinadovey.parking.webapps.mina.DPSProtocolCodecFactory" />
	
	<bean id="gatewayLogBiz" class="com.chinadovey.parking.webapps.biz.impl.GatewayLogBizImpl" />
	
	<bean id="carLockBiz" class="com.chinadovey.parking.webapps.biz.impl.CarLockBizImpl" />

	<!-- Mina 数据请求处理 
		mina框架规则：
		1、数据收发都必须经过编解码，接收的数据需要解码，然后封装到类的实例中。 发出的数据需要编码
		2、框架用户自定义类继承IoHandlerAdapter类，收到的数据会交由该类处理，具体方法是：messageReceived(IoSession session, Object message)
		3、连接mina server的网络程序，可设置一个唯一标识。mina server根据这一标识，用于和改网络程序的session会话，相对应。这样就可以找到该程序，session中含有程序的地址。
		4、NioSocketConnector这是mina客户端类，用于连接mina服务器。比如：向外发送数据，就需要该类连接mina服务端。
			mina server收到之后，再根据数据内容判断是谁发送来的，怎么处理。
			常见session.write("数据")，session会话有两个地址，发给谁？。方法注释：Writes the specified message to remote peer
			在mina服务端程序来看，谁连接我谁远，是发送给它。mina客户端程序，连接的谁谁远，发送给对方（mina服务端）。
	-->
	<bean id="trapHandler" class="com.chinadovey.parking.webapps.mina.CloudNodeIoHandler">
		<property name="localAddress" value="${dovey.cloud.node.localaddress}" />
		<property name="mongoOps" ref="mongoOps" />
		<property name="gatewayLogBiz" ref="gatewayLogBiz" />
		<property name="carLockBiz" ref="carLockBiz" />
		<property name="dpsProcess">
			<!-- 数据包处理 -->
			<bean class="com.chinadovey.parking.webapps.mina.DPSProcess">
				<property name="localAddress" value="${dovey.cloud.node.localaddress}" />
				<property name="mongoOps" ref="mongoOps" />
				<property name="rtuProcessFactory" ref="RTUProcessFactory" />
				<property name="gatewayLogBiz" ref="gatewayLogBiz" />
				<property name="carLockBiz" ref="carLockBiz" />
			</bean>
		</property>
	</bean>

	<!-- 分类数据处理 -->
	<bean id="RTUProcessFactory" class="com.chinadovey.parking.webapps.mina.RTUProcessFactory">
		<property name="processes">
			<map>
        <entry key="0810">
          <bean class="com.chinadovey.parking.webapps.mina.protocol.RTUProcess0810" />
        </entry>
        <entry key="0713">
          <bean class="com.chinadovey.parking.webapps.mina.protocol.RTUProcess0713" />
        </entry>
        <entry key="0710">
          <bean class="com.chinadovey.parking.webapps.mina.protocol.RTUProcess0710" />
        </entry>
		<entry key="0611">
			<bean class="com.chinadovey.parking.webapps.mina.protocol.RTUProcess0611" />
		</entry>
			</map>
		</property>
	</bean>
	
	

<!-- 组装Mina服务 -->
	<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="customEditors">
			<map>
				<entry key="java.net.SocketAddress">
					<bean class="org.apache.mina.integration.beans.InetSocketAddressEditor" />
				</entry>
			</map>
		</property>
	</bean>
	
	<bean id="mdcInjectionFilter" class="org.apache.mina.filter.logging.MdcInjectionFilter">
		<constructor-arg value="remoteAddress" />
	</bean>
	<bean id="executorFilter" class="org.apache.mina.filter.executor.ExecutorFilter" />
	<bean id="loggingFilter" class="org.apache.mina.filter.logging.LoggingFilter" />
	<bean id="protocolCodecFilter" class="org.apache.mina.filter.codec.ProtocolCodecFilter">
		<constructor-arg ref="dpsProtocolCodecFactory" />
	</bean>

	<bean id="filterChainBuilder"
		class="org.apache.mina.core.filterchain.DefaultIoFilterChainBuilder">
		<property name="filters">
			<map>
				<entry key="executor" value-ref="executorFilter" />
				<entry key="mdcInjectionFilter" value-ref="mdcInjectionFilter" />
				<entry key="codecFilter" value-ref="protocolCodecFilter" />
				<entry key="loggingFilter" value-ref="loggingFilter" />
			</map>
		</property>
	</bean>
	<!-- 绑定端口等等 -->
	<bean id="ioAcceptor" class="org.apache.mina.transport.socket.nio.NioSocketAcceptor">
		<property name="defaultLocalAddress" value="${dovey.cloud.node.localaddress}" />
		<property name="handler" ref="trapHandler" />
		<property name="filterChainBuilder" ref="filterChainBuilder" />
		<property name="reuseAddress" value="true" />
	</bean>

	<!-- 云服务核心组件 -->
    <bean id="minaServer" class="com.chinadovey.parking.webapps.mina.MinaServer"
		init-method="start" destroy-method="destroy">
		<property name="ioAcceptor" ref="ioAcceptor" />
		<property name="mongoOps" ref="mongoOps" />
	</bean>
	
</beans>
